# пример запуска скрипта docker compose -f docker-compose.prod.yml -p nextjs-prod up

services:
  nextjs-prod:
    build:
      context: .
      dockerfile: ./docker/prod/Dockerfile.prod
    container_name: prod-mod
    restart: always
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ['CMD-SHELL', 'wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
