.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--color-background);

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        z-index: 999;
        background-color: var(--color-divider);
    }
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    min-width: var(--width-mobileS);
    max-width: var(--width-laptopL);
}

.logo_wrapper {
    display: flex;
    align-items: center;

    img {
        margin-right: 18px;
    }

    p {
        margin-right: 18px;
    }
}

.settings_wrapper {
    display: flex;
    align-items: center;
}
